name = preloader

.{name}
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	background: color-dark
	color: color-main
	z-index: 100

	i
		display: block
		font-size: 10rem
		position: absolute
		left: 50%
		top: 50%
		margin: -5rem 0 0 -5rem