name = feature

.{name}
	display: block
	height: 30rem
	overflow: hidden

	&__img
		height: 100%
		background: no-repeat center / cover
		transition: duration ease

		&:hover
			transform: scale(1.05);