name = footer

.{name}
	height: footer-height
	margin-top: -(footer-height)
	border-top: 1px solid color-text
	padding: 2rem 0
	background: color-dark;

	+point(xs)
		height: footer-height-lg
		margin-top: -(footer-height-lg)

	&__copyright
		font-size: 1.4rem
		line-height: 4rem
		text-transform: uppercase

		+point(xs, max)
			text-align: center

	&__soc-wrap
		text-align: center

		+point(xs)
			text-align: right