name = header

.{name}
	display: block
	height: header-height
	position: fixed
	width: 100%
	background: color-dark
	z-index: 1

	&__wrap
		height: 100%
		padding-top: (header-height / 4)
		padding-bottom: (header-height / 4)

	&__logo
		float: left
		margin-top: (header-height / 8)
		height: (header-height / 4)

	&__menu
		float: right

		+point(xs, max)
			display: none

	&__toggle
		position: absolute
		top: 0
		right: 0
		height: 100%
		padding: 6rem

		+point(xs)
			display: none