name = link

.{name}
	display: inline-block
	text-decoration: none
	color: color-text
	border-bottom: 1px solid rgba(color-text, .5);

	&:hover
		color: color-main
		border-bottom-color: rgba(color-main, .5)

	&:active
		color: lighten(color-main, 70%)
		border-bottom-color: rgba(lighten(color-main, 70%), .5)

	&_arrow

		&::after
			content: '\f061'
			font-family: font-fa
			font-size: .7em
			font-weight: 100
			margin-left: .5em
			position: relative
			top: -1px
			left: 0
			opacity: 1
			transition: (duration / 2) ease left, (duration / 2) ease opacity

		&:hover

			&::after
				left: .3em

		&:active

			&::after
				left: 1em
				opacity: 0