name = main

.{name}
	min-height: 100%
	padding-top: header-height
	padding-bottom: footer-height

	+point(sm)
		padding-bottom: footer-height-lg

	&__space-cols
		padding-bottom: 15px

		+point(xs)
			padding-bottom: 30px

	&__mobile-full

		+point(xs, max)
			padding-left: 0
			padding-right: 0

	&__btn
		margin-top: 7rem