name = soc

.{name}
	display: inline-block
	color: color-text
	padding: 1rem
	font-size: 2rem
	line-height: 0
	width: 4rem
	height: 4rem
	text-align: center

	&_facebook

		&:hover
			color: color-fb

		&:active
			color: lighten(color-fb, 30%)

	&_instagram

		&:hover
			color: color-insta

		&:active
			color: lighten(color-insta, 30%)

	&_twitter

		&:hover
			color: color-tw

		&:active
			color: lighten(color-tw, 30%)