name = soc

.{name}
	display: inline-block
	color: color-text
	padding: 1rem
	font-size: 2rem
	line-height: 0
	width: 4rem
	height: 4rem
	text-align: center

	&_facebook

		&:hover
			color: color-fb

	&_instagram

		&:hover
			color: color-tw

	&_twitter

		&:hover
			color: color-insta