name = toggle

.{name}
	cursor: pointer

	&:hover

		.{name}

			&__line
				background: lighten(color-main, 40%);

	&:active

		.{name}

			&__line
				background: darken(color-main, 20%);

	&__i
		width: 26px
		height: 20px
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

	&__line
		height: 2px
		margin-bottom: 7px
		background: color-main;

		&:last-child
			margin-bottom: 0