.section.section_pb_2x
	.container
		.row
			.col-sm-9
				p.upper Hey there
				h1.title= 'We are '
					span.strong Khayal
					| ; a creative studio focusing on graphic design and websites, We deliver high quality websites.
				a.link.link_arrow(href='#') More about us