include ../mixins/feature

.section
	.container
		.row
			.col-sm-9.wow.fadeInDown
				p.upper Hey there
				h1.title= 'We are '
					span.strong Khayal
					| ; a creative studio focusing on graphic design and websites, We deliver high quality websites.
				a.link.link_arrow(href='#') More about us

.section.section_pb_half.section_bg_light
	.container
		h2.title.title_sm Featured work
		.row

			- var count = 1
			each val in feature
				.main__space-cols.main__mobile-full.wow.fadeInUp(
					class= count <= 1 ? 'col-xs-12 col-sm-7' : 'col-xs-6 col-sm-5'
				)
					+feature(val)

				- count == 3 ? count = 0 : count++;

.section
	.container.text-center
		.title.title_sm.wow.fadeInRight Let's make something creative together
		p.wow.fadeInLeft Got a project you're excited about and think we can help?
		p.wow.fadeInLeft= 'Contact up at '
			a.link(href='mailto:' + global[1].email)= global[1].email
			= ' or using the button below.'

		a.btn.main__btn.wow.fadeInUp(href='#' data-modal='#popup') Contact us