// Служебные файлы
@import 'global/variables.styl' // SASS переменные
@import 'global/fonts.styl' // Шрифты
@import 'global/global.styl' // Глобальные стили
// =====

// Блоки
@import 'blocks/soc.styl' // Социальные иконки
@import 'blocks/menu.styl' // Главное меню
@import 'blocks/logo.styl' // Логотип
@import 'blocks/toggle/toggle.styl' // Гамбургер
@import 'blocks/title.styl' // Большой заголовок
@import 'blocks/title-sm.styl' // Маленький заголовок
@import 'blocks/link.styl' // Ссылка
@import 'blocks/feature.styl' // Блок с картинкой
@import 'blocks/btn.styl' // Кнопка
@import 'blocks/fog.styl' // Затемнение
@import 'blocks/input/input.styl' // Поля ввода
// =====

// Внешние контейнеры
@import 'blocks/popup/popup.styl' // Модалка
@import 'blocks/aside/aside.styl' // Боковое меню
@import 'blocks/header.styl' // Шапка
@import 'blocks/footer.styl' // Подвал
@import 'blocks/section.styl' // Секция контента
@import 'blocks/main.styl' // Контейнер контента
@import 'blocks/wrapper.styl' // Внешний контейнер
// =====