// Служебные файлы
@import 'global/variables.styl' // SASS переменные
@import 'global/fonts.styl' // Шрифты
@import 'global/global.styl' // Глобальные стили
// =====

// Блоки
@import 'blocks/soc.styl' // Социальные иконки
@import 'blocks/menu.styl' // Главное меню
@import 'blocks/logo.styl' // Логотип
@import 'blocks/toggle.styl' // Гамбургер
@import 'blocks/title.styl' // Большой заголовок
@import 'blocks/title-sm.styl' // Маленький заголовок
@import 'blocks/link.styl' // Ссылка
// =====

// Внешние контейнеры
@import 'blocks/header.styl' // Шапка
@import 'blocks/footer.styl' // Подвал
@import 'blocks/section.styl' // Секция контента
@import 'blocks/main.styl' // Контейнер контента
@import 'blocks/wrapper.styl' // Внешний контейнер
// =====