// Служебные файлы
@import 'global/variables.styl' // SASS переменные
@import 'global/fonts.styl' // Шрифты
@import 'global/global.styl' // Глобальные стили
// =====

// Блоки

// =====

// Внешние контейнеры
@import 'blocks/header.styl' // Шапка
@import 'blocks/footer.styl' // Подвал
@import 'blocks/section.styl' // Секция контента
@import 'blocks/main.styl' // Контейнер контента
@import 'blocks/wrapper.styl' // Внешний контейнер
// =====