// popup
#popup.popup
	.popup__wrap
		.popup__head
			h4.title.title_sm.popup__title Contact us
			.popup__close
		.popup__body
			form
				input.input.popup__input(type="text", placeholder='Name')
				input.input.popup__input(type="tel", placeholder='Phone number')
				input.input.popup__input(type="email", placeholder='E-mail')
				textarea.input.popup__input(placeholder='Comment')

				button.btn.popup__btn(type="submit") Call me